<!DOCTYPE html>
<html>
<head>
<title>details</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='newstyle.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='font/css/all.min.css')}}">
</head>
<body class="bg3">

<h2>START BY GIVING BELOW DETAILS</h2>

<form method="post">
  <label for="fname">Salary:</label><br>
  <input type="textbox" id="Salary" name="Salary" value=" "><br>
  <label for="lname">Amount Limit:</label><br>
  <input type="textbox" id="lname" name="Limit" value=" "><br><br>
  <label for="lname">userid:</label><br>
  <input type="textbox" id="lname" name="userid" value=" "><br><br>
  <input type="submit" id="Elist"  formaction="/salary_de" value="show expenses"><br>
 
</form> 
</body>
</html>

