<html>
<head>
<title>report</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='newstyle.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='font/css/all.min.css')}}">

</head>
<body class="report">
<nav class="header">
<ul>
	<li><a href="/about1"><i class="fa-regular fa-address-card"></i>  About us</a></li>
	<li><a href="/register1" ><i class="fa fa-edit"></i> Register</a></li>
	<li><a href="/login1"><i class="fa-solid fa-right-to-bracket"></i>  login</a></li>
	<li><a href="/"><i class="fa-solid fa-house"></i>  Home</a></li>
</ul>
</nav>
<br><br><br><br><br><br>
<center>
<div class="report1">
<center>
<br><br><br>
<label for="fname"><b>From:<b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
<input type="textbox" id="mail" name="mailid" value=" "><br><br><br>
<label for="fname"><b>To:<b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
<a href=www.google.com>d2dpea@gmail.com</a><br><br><br>
<label for="des"><b>Description<b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
<input type="textbox" id="des" value="enter your queries"><br><br><br>
<br>
<button class="button">Send</button>
</center>
</div>
<center>
</body>
</html>