<html>
<head>
<title>About</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='newstyle.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='font/css/all.min.css')}}">
<nav class="header">
<ul>
	<li><a href="/about1" ><i class="fa-regular fa-address-card"></i>  About us</a></li>
	<li><a href="/register1" ><i class="fa fa-edit"></i>  Register</a></li>
	<li><a href="/login1" ><i class="fa-solid fa-right-to-bracket"></i>  login</a></li>
	<li><a href="/" ><i class="fa-solid fa-house"></i>  Home</a></li>
</ul>
</nav>
</head>
<body class="bg2">
<br>
<h2 style="font-size:55px ; font-family:comic sans MS; "><center>About Us</center></h2>
<div  style="font-size:18px ; font-family:comic sans MS; width:60%;text-align:justify; ">
  <p>d2d helps hundreds of thousands peopleworldwide to get their money into shape.<br><br>

In d2d, we all come to work every day to enable people make smart decisions 
about their money every day.<br><br>
We believe that managing finance should be as effortless as shopping online. <br><br>
It should be done anytime, anywhere and in few clicks.<br><br>
What started as a simple expense tracker for a small group of people has grown into personal finance app
that brings beauty to finance of hundreds of thousands users from almost every country in the world.<br><br>

We want to make your financial life stress-free.<br><br>
d2d helps you to get your finances into the shape so
that you don't need to stress about every dollar that you spend. 
If you know how much and what on you spend, it is easier to change your financial habits, 
if you feel like that's what you need.<br><br>
Having a complete picture of your finances in one place, make them easier to manage.
 Our mission here is to help you leave your financial ghosts behind, 
 overcome your financial fears and treat yourself with financial wisdom instead.
</p>
</div>
</body>
</html>